<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href= "https://fonts.googleapis.com">
</head>
<body>
    <!--header-->
    <%- include("components/header.ejs")  %> 
    <main>
        <div class="conteinermain">
            <h1>Stake</h1>
            <img src="../img/bitcoin-flash-cash.png" alt="" id="stake">
            <h3>Receba automaticamente o BNB ou os tokens de <br> sua escolha para manter Stake com a capacidade de reinvestir automaticamente para juros compostos.</h3>
            <nav class="home">
            <!--Redes Socias icones-->
            <a href=""> <img src="../img/174855.png" alt="" class="redes" ></a>
            <a href=""> <img src="../img/355977.png" alt="" class="redes"></a>
            <a href=""> <img src="../img/twitter.png" alt="" class="redes"></a>
            </nav>
            <!--Botões-->
        </div>
        <section class="compras">
            <nav class="botoes">
                <a href="" id="comprar"><b>COMPRAR</b></a>
                <a href="" id="grafico"><b>GRÁFICO</b></a>
                <a href="" id="bonus"><b>BONUS</b></a>
            </nav>
        </section>


    </main>
    
</body>
</html>